<% if current_user_can_comment %>
  <div class="form-group">
  <%= form_with model: [ @article, local_assigns[:comment] || @article.comments.build ] do |form| %>
    <p>

      <%= form.hidden_field :commenter,  class: "form-control", value: Current.user.email %>

    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body ,  class: "form-control"%>

    </p>
    <p>
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' ,  class: "form-control"%>
    </p>
    <p>
      <%= form.submit %>
    </p>
    
  <% end %>
  </div>

<% else %>
  <% if !user_logged_in %>
    <p>Please Login To Comment</p>
  <% elsif !current_user_can_comment %>
    <p>Permission Denied</p>
  <% else %>
    <p>Something went wrong</p>
  <% end %>

<% end %>

