<div class="container-fluid p-3 color">
  <%= form_with model: article do |form| %>
    
    <div class="row" >
      <div class="col-12">
        <%= form.label :title %>
      </div>
      <div class="col-2">
        <%= form.text_field :title %>
      </div>
      <div class="col">
        <% article.errors.full_messages_for(:title).each do |message| %>
          <div class="fst-italic text-danger"><%= message %></div>
        <% end %>
      </div>
    </div>

    <br>
    <div class="row" >
      <div class="col-12">
        <%= form.label :body %>
      </div>
      <div class="col-2">
        <%= form.text_area :body %><br>
      </div>
      <div class="col">
        <% article.errors.full_messages_for(:body).each do |message| %>
          <div class="fst-italic text-danger"><%= message %></div>
        <% end %>
      </div>
    </div>

    <br>

    <div class="row" >
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>

    <div class="row" >
      <%= form.label :topic %><br>
      <%= form.select :topic_id, options_from_collection_for_select(Topic.all, 'id', 'title') %>
    </div>

    <br>

    <div class="row" >
      <%= form.submit %>
    </div>
  <% end %>

</div>