<p id="notice"><%= notice %></p>


<div class="container-fluid" style="background-color: beige">
  <div class="row">
    <div class="col-9">
      <h1><%= @topic.title %></h1>
    </div>

    <div class="col-3">
      <ul>
      <li><%= link_to "Edit", edit_topic_path(@topic) %></li>
      <li><%= link_to "Delete", topic_path(@topic),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></li>
      </ul>
    </div>
  </div>
 

  <ol class="list-group-flush list-group-numbered row">
    
    <% Article.topic_articles(@topic.id).each do |article| %>
      <%= render partial: "shared/article_list_item" , locals: {article: article}%>
    <% end %>
  </ol>



</div>